.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  width: 100%;
  padding: var(--buttons-md-tb) var(--buttons-md-lr);
  background-color: var(--ui-primary-main);
  color: var(--ui-primary-contrast);
  border: none;
  border-radius: var(--border-radius-full);
  font-family: var(--components-button-medium-font-family);
  font-size: var(--components-button-medium-font-size);
  font-weight: var(--components-button-medium-font-weight);
  line-height: var(--components-button-medium-line-height);
  letter-spacing: var(--components-button-medium-letter-spacing);
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
