.timeline-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-full);
}

.timeline-dot--locked {
  background-color: var(--ui-common-grey-300);
}

.timeline-dot--active {
  background-color: var(--ui-value-main);
}

.timeline-dot--completed {
  background-color: var(--ui-semantic-colours-success-main);
}

.timeline-dot__label {
  font-family: var(--typography-body-2-bold-font-family);
  font-size: var(--typography-body-2-bold-font-size);
  font-weight: var(--typography-body-2-bold-font-weight);
  line-height: var(--typography-body-2-bold-line-height);
  letter-spacing: var(--typography-body-2-bold-letter-spacing);
  white-space: nowrap;
}

.timeline-dot--active .timeline-dot__label {
  color: var(--ui-text-emphasis-bullet-main);
}

.timeline-dot--locked .timeline-dot__label {
  color: var(--ui-text-secondary);
}

.timeline-dot__icon {
  display: block;
  width: 24px;
  height: 24px;
}
